-#  This file is app/views/movies/title_header.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th {:class => hillite} 
        %a(href="movies/title_header.html")Movie Title
      %th Rating
      %th <a href= "movies/release_date_header">Release Date</a>
      %th More Info
  %tbody
    - @movies.each.order("movie.title") do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

